.actions {
  display: flex;
  gap: 4px;
  height: 20px;

  .action-btn {
    padding: 3px;
    width: 24px;
    height: 24px;
    color: var(--color-neutral);
    background-color: transparent;
    border: none;
    cursor: pointer;
		transition: background-color 0.3s, color 0.3s;

    &:hover {
      color: var(--color-secondary);
    }

    &:active {
      color: var(--color-secondary);
      opacity: 0.7;
    }

    &.favorite {
      color: var(--color-secondary);

			&:hover {
				opacity: 0.7;
			}

			&:active {
				opacity: 0.5;
    }
	}
		&.minimized {
			 color: var(--color-secondary);

			 &:hover {
				opacity: 0.7;
			}

			&:active {
				opacity: 0.5;
    }
		}
  }

  .hide-icon {
    width: 18px;
    height: 18px;
  }

  .options-icon {
    width: 20px;
    height: 20px;
  }

  .favorite-icon {
    width: 23px;
    height: 20px;
  }
}

.optionsWrapper {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 50%;
	width: 140px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  z-index: 100;
}

.dropdownItem {
  display: block;
	background: var(--background-base);
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
	font-size: 11px;
	line-height: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--color-neutral);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal {
  background: var(--color-bg);
  padding: 20px;
  border-radius: 8px;
  width: 260px;
	color: var(--background-base);
  text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.modalButton {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--background-base);
  cursor: pointer;
}

.modalButton:hover {
  background: var(--color-hover);
}
