.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	transition: all 10s ease;
}

.container > li {
  will-change: transform, opacity;
}

.container > li.new {
  opacity: 0;
  transform: scale(0.95);
}
